<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.article.ArticleMapper">
    <select id="getArticlePage" resultType="com.education.vo.ArticleVo">
        select
        ba.*,
        bu.username as userName,
        bd.dictionary_value as typeName
        from b_article ba
        left join b_user bu on bu.id = ba.user_id and bu.is_deleted = 0
        left join b_dictionary bd on bd.dictionary_code = ba.type and bd.is_deleted = 0
        where ba.is_deleted = 0
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
        <if test="title != null and title != ''">
            and ba.title like concat('%',#{title},'%')
        </if>
        <if test="type != null and type != ''">
            and ba.type = #{type}
        </if>
        order by gmt_create Desc
    </select>
    <select id="queryZsetArticle" resultType="com.education.vo.ArticleVo">
        SELECT
        ba.*, bu.username AS userName,
        bd.dictionary_value AS typeName,
        (
        SELECT
        count(*)
        FROM
        b_comment
        WHERE
        ba.id = b_comment.article_id
        ) AS commentQuality
        FROM
        b_article ba
        LEFT JOIN b_user bu ON bu.id = ba.user_id
        AND bu.is_deleted = 0
        LEFT JOIN b_dictionary bd ON bd.dictionary_code = ba.type
        AND bd.is_deleted = 0
        WHERE
        ba.is_deleted = 0
<!--        and date_format(ba.gmt_create,"%Y-%m-%d") >= #{formatAfterTime} and #{formatBeforeTime} >= date_format(ba.gmt_create,"%Y-%m-%d")-->
        and ba.gmt_create >= #{formatAfterTime} and #{formatBeforeTime} >= ba.gmt_create
        ORDER BY
        ba.gmt_create DESC,commentQuality DESC LIMIT 10
    </select>
    <select id="getFontArticlePage" resultType="com.education.vo.ArticleVo">
        select
        ba.*,
        bu.username as userName,
        bu.avatar,
        bd.dictionary_value as typeName
        from b_article ba
        left join b_user bu on bu.id = ba.user_id and bu.is_deleted = 0
        left join b_dictionary bd on bd.dictionary_code = ba.type and bd.is_deleted = 0
        where ba.is_deleted = 0 and ba.status = 1
        <if test="title != null and title != ''">
            and ba.title like concat('%',#{title},'%')
        </if>
        <if test="type != null and type != ''">
            and ba.type = #{type}
        </if>
        order by gmt_create Desc
    </select>
</mapper>