<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.article.CommentMapper">

    <select id="queryComment" resultType="com.education.vo.CommentVo">
        select
        bc.*,
        bu.username
        from b_comment bc
        left join b_user bu on bu.id = bc.user_id and bu.is_deleted = 0
        where bc.is_deleted = 0 and bc.article_id = #{articleId} and bc.parent_id = -1
        order by bc.gmt_create DESC
    </select>
    <select id="queryApplyComment" resultType="com.education.vo.CommentVo">
        select
        bc.*,
        bu.username
        from b_comment bc
        left join b_user bu on bu.id = bc.user_id and bu.is_deleted = 0
        where bc.is_deleted = 0 and bc.article_id = #{articleId}
        and (bc.parent_id = #{id} or bc.first_parent_id = #{id})
        order by bc.gmt_create DESC
    </select>
    <select id="queryApplyUserComment" resultType="com.education.vo.CommentVo">
        select
        bu.username as applyParentName
        from b_comment bc
        left join b_user bu on bu.id = bc.user_id and bu.is_deleted = 0
        where bc.is_deleted = 0 and bc.id = #{parentId}
    </select>
    <select id="queryAllComment" resultType="com.education.vo.CommentVo">
        select
        bc.*,
        bu.username,
        ba.title as title
        from b_comment bc
        left join b_user bu on bu.id = bc.user_id and bu.is_deleted = 0
        left join b_article ba on ba.id = bc.article_id and ba.is_deleted = 0
        where bc.is_deleted = 0
        <if test="articleId != null and articleId != ''">
            and bc.article_id = #{articleId}
        </if>
        order by bc.gmt_create DESC
    </select>
</mapper>