<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.log.OperateLoggerMapper">

    <select id="queryPageLog" resultType="com.education.vo.OperateLogVo">
        select * from b_operate_log where is_deleted = 0
        <if test="userName != null and userName != ''">
            and user_name like concat('%',#{userName},'%')
        </if>
        <if test="queryStartTime != null">
            and gmt_create >= #{queryStartTime}
        </if>
        <if test="queryEndTime != null">
            and #{queryEndTime} >= gmt_create
        </if>
        <choose>
            <when test="logType != null">
                and log_type = #{logType}
            </when>
            <otherwise>
                <choose>
                    <when test="isLogin != null and 1 == isLogin">
                        and (log_type = 8 or log_type = 9)
                    </when>
                    <otherwise>
                        and log_type != 8 and log_type != 9
                    </otherwise>
                </choose>
            </otherwise>
        </choose>

        order by gmt_create DESC
    </select>
</mapper>
