<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.course.VideoMapper">

    <update id="deleteVideoBatchIds">
        update b_video set is_deleted = 1 where is_deleted = 0
        and id in
        <foreach collection="videoIds" item="videoId" open="(" separator="," close=")">
             #{videoId}
        </foreach>
    </update>
    <select id="selectBatchCourseIds" resultType="com.education.entity.course.VideoEntity">
        select
        *
        from b_video where is_deleted = 0
        and course_id in
        <foreach collection="courseIds" item="courseId" open="(" separator="," close=")">
            #{courseId}
        </foreach>
    </select>
</mapper>
